{% extends "base.html" %}
{% block title %}Welcome to Django{% endblock %}
{% block head %}Welcome to Django{% endblock %}
{% block content %}
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
  braintree.setup("CLIENT-TOKEN-FROM-SERVER", "<integration>", options);
</script>
    <p>Welcome {{ user.username }} !!!</p>
    <form id="checkout" method="post" action="/checkout">
  <div id="dropin"></div>
  <input type="submit" value="Pay $10">
</form>
    <a href="/accounts/">Logout</a>
    <p> <a href="/exams/home"> Click to go to your Exam page</a></p>
{% endblock %}



